
@import 'https://fonts.googleapis.com/css?family=Modak';

#header{
  margin-top: 70px;
  z-index: 2;
  position: relative;
  padding-bottom: 20px;
  left: 30px;
  font-family: 'Modak', cursive;
}

#header > h1{
  font-size: 72pt;
}

#grassImg {
  position: absolute;
  top: 6px;
  z-index: 1;
  opacity: 0.5;
}
