
@import 'https://fonts.googleapis.com/css?family=Modak';

.page-header{
  margin-top: 50px;
  z-index: 2;
  position: relative;
  left: 30px;

}

#headline {
   font-family: 'Modak', cursive;
   font-size: 72pt;
 }

#tagline {
  font-size: small;
  font-style: italic;
  padding-top: 45px;
}
